/*
 * There are some custom styles we do not
 * want loaded inside the block editor.
 */

/* Template Parts
---------------------------------------- */

@media only screen and (min-width: 1001px) {
  body {
    margin-top: 120px;
  }
}

/* -- Group (Menu Bar) -- */
@media only screen and (min-width: 1001px) {
  body.scrolled-1px .is-style-navbar {
    height: 70px;
  }
  body:not(.scrolled-1px) .is-style-navbar {
    background: transparent !important;
  }
}
.wp-site-blocks {
  position: relative;
}
.wp-site-blocks::before {
  background: var(--wp--preset--color--base-alternate) !important;
  content: " ";
  width: 50%;
  left: 0;
  bottom: 0;
  top: -120px;
  display: block;
  position: absolute;
  z-index: -1;
}
.site-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
@media only screen and (max-width: 1000px) {
  .site-header {
    position: relative;
  }
}
@media only screen and (min-width: 1001px) {
  .admin-bar .site-header {
    top: 32px;
  }
}
@media only screen and (min-width: 600px) and (max-width: 781px) {
  .admin-bar .site-header {
    /* top: 46px; */
  }
}
